#note{
	/*border: 2px solid black;*/
	margin-top: 2%;
}

#note1{
	/*border: 2px solid blue;*/
	background-color: #F8F8F8;
}

.rest{
	padding-left: 5%;
}

#w_head{
	color: #fff;
	border-radius: 0 22px;
	text-shadow: 1px 1px;
	background: none repeat scroll 0 0 rgb(219, 117, 117);
}

#foot{
	border: 2px solid;
	margin: auto;
	border-color: #2A2A2A;
	background-color: #2A2A2A;
	color: #fff;
	height: 150px;
}

.note_head{
	background-color: #CA1D20;
	text-align: center;
	color: #FFF;
	height: 1.5em;
}

.note_sec{
	background-color: #9FC2FC;
	font-size: 1.5em;
	color: #FFF;
}

