#note{
	/*border: 2px solid black;*/
	margin-top: 2%;
}

#note1{
	/*border: 2px solid blue;*/
	background-color: #F8F8F8;
	

}

#note2{
	border: 2px solid red;
	height: 150px;
}

.note_head{
	background-color: #CA1D20;
	text-align: center;
	color: #FFF;
}

.note_sec{
	background-color: #9FC2FC;
	font-size: 1.5em;
	color: #FFF;
}

